.page {
    font-family: 'Source Serif Pro', 'Noto Serif JP', serif;
}

table {
    color: #eee;
}

body.light table {
    color: #012;
}

.musics-wrapper {
    white-space: nowrap;
    overflow-x: scroll;
}
